/*******************************************************
COMMON
*******************************************************/
html body {
    padding: 0;
    margin: 0;
    width: 100%;
    color: rgb(224, 224, 224);
    background-color: rgb(20, 20, 19);
    font-family: 'Spartan', sans-serif;
}
.row {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.space-evenly {
    justify-content: space-evenly;
}
.p-10 {
    cursor: pointer;
    padding: 10px;
}
.p-10 a,
a:hover,
a:focus,
a:active {
    cursor: pointer;
    color: #d5e0e0;
    text-decoration: none;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.p-20 {
    padding: 20px;
}
.p-25 {
    padding: 30px;
}
.m-10 {
    margin: 10px;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.trailer {
    color: #fff;
    background-color: #3b3b3b;
    border: 4px solid #000;
    border-radius: 15px;
    height: 30px;
    padding-bottom: 6px;
    width: fit-content;
}
.trailer:hover {
    color: #fff;
    background-color: #2b2b2b;
}

.trailer-btn {
    color: #fff;
    background-color: #3b3b3b;
    border-radius: 15px;
    height: 30px;
    padding-bottom: 6px;
    width: fit-content;
}

.trailer-btn:hover {
    background: #2b2b2b;
}

.trailer-btn img {
    height: 35px;
}
.trailer .playtrailer {
    height: 30px;
}
.trailer .date {
    margin: 0;
}
@media screen and (max-width: 1100px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .no-post p {
        padding-left: 20px;
    }
}
@media screen and (max-width: 800px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .no-post p {
        padding-left: 20px;
    }
}
@media screen and (max-width: 550px) {
    body {
        overflow-x: hidden;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .no-post p {
        padding-left: 20px;
    }
    .card {
        background-color: #292927;
        margin: 20px;
    }
    .banner-text p {
        margin: 0 auto;
        padding-top: 5%;
        padding-left: 16%;
        text-align: center !important;
        width: 90%;
    }
}
/*******************************************************
HEADER
*******************************************************/

header {
    position: relative;
}
header .navbar {
    width: 100%;
    height: 70px;
    position: fixed;
    border-bottom: 1px solid rgb(248, 244, 244, 0.6);
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
}
header .logo img {
    height: 50px;
    padding: 10px;
}
.logoimg {
    cursor: pointer;
    position: absolute;
    left: 0 !important;
}
header .menus {
    text-align: center;
}
.searchbox {
    position: relative;
    width: fit-content;
    padding: 3px;
}
.searchbox img {
    position: absolute;
    right: 0;
    width: 25px;
    padding: 4px;
}
.searchbox input {
    background-color: rgb(0, 0, 0, 0);
    color: #fff;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(224, 224, 224);
    padding-left: 7px;
    outline: none;
}
header .menus .category img {
    cursor: pointer;
    width: 35px;
}
header .menus .favourites img {
    width: 15px;
}
header .sp-menu {
    display: none;
}
header .sp-logo {
    display: none;
}
.sp-search {
    display: none;
}
.searchpopup {
    position: absolute;
    top: 0px;
    right: -60px;
}
.togglemenu {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgb(0, 0, 0, 0.9);
    border-bottom-right-radius: 20px;
}
.menu-option {
    color: #e0e0e0;
    text-decoration: none;
}
.menu-option:visited {
    text-decoration: none;
}
@media screen and (max-width: 800px) {
    header .menus {
        display: none;
    }
    header .logo {
        display: none;
    }
    header .sp-menu {
        margin: 10px;
        height: 50px;
        display: block;
    }
    header .sp-menu.down {
        transform: rotate(90deg);
    }
    header .sp-logo {
        display: block;
        height: 50px;
        margin: 10px;
    }
    .sp-search {
        display: block;
        margin: 20px;
        width: 30px;
    }
}

/*******************************************************
Cover
*******************************************************/
.banner-text {
    padding-left: 2%;
    width: 80%;
}
.cover {
    width: 100%;
    height: 90%;
}
.cover .sp-backgroundcover {
    display: none;
}
.cover .backgroundcover {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}
.cover .gradient {
    background: linear-gradient(rgb(41, 40, 40, 0.6) 10%, rgb(0, 0, 0, 0) 50%, rgb(41, 40, 40));
    position: absolute;
    height: 90%;
    width: 100%;
    z-index: 2;
}
.cover .gradient .coverdetails {
    position: absolute;
    bottom: 0;
}
.cover .gradient .coverdetails .trailer {
    background-color: rgb(20, 20, 19);
    height: 35px;
    border-radius: 20px;
}
.cover .gradient .trailer img {
    height: 35px;
}
.cover .gradient .coverdetails .cover-description {
    width: 60%;
}
.cover .gradient .coverdetails .date {
    font-size: 20px;
    margin: 0;
}
.cover .gradient .coverdetails .cover-description {
    color: rgb(224, 224, 224, 0.8);
}
@media screen and (max-width: 800px) {
    .cover {
        height: 105vh;
        padding-bottom: 10%;
    }
    .cover .backgroundcover {
        display: none;
    }
    .cover .sp-backgroundcover {
        display: block;
        width: 100%;
        height: 90vh;
        object-fit: cover;
    }
    .sp-coverdetails {
        flex-direction: column;
        width: fit-content;
        margin: auto;
        text-align: center;
    }
    .cover .gradient .coverdetails .cover-description {
        width: 100%;
    }
    .cover .gradient .coverdetails {
        top: 75vh;
    }
}
/*******************************************************
Content
*******************************************************/
.content {
    min-height: 80vh;
}
.content .section-heading {
    font-size: 30px;
}
.content .pt {
    padding-top: 70px;
}
.content .cards {
    position: relative;
    height: 90%;
    width: 290px;
    margin: 30px auto;
}
.content .cards .like {
    position: absolute;
    right: 0;
    top: 0;
}
.content .cards .like img {
    width: 65px;
}
.content .cards .cardimage {
    height: 80%;
    width: 100%;
    object-fit: cover;
}
.fav-movie-poster {
    height: 85% !important;
    object-fit: fill !important;
}
.content .cards .carddetails .dark {
    color: rgb(224, 224, 224, 0.5);
}
.content .cards .carddetails .btn-text {
    padding: 7px 20px;
}
.trailer-link {
    color: #fff;
    text-decoration: none;
}
.content .divider {
    margin: 60px auto;
    border: none;
    border-top: 1px solid rgb(224, 218, 218, 0.3);
    width: 60%;
}
@media screen and (max-width: 1100px) {
}

/*******************************************************
Footer
*******************************************************/

footer {
    margin-top: 100px;
}
footer img {
    cursor: pointer;
    height: 40px;
}

/*******************************************************
Popupbox
*******************************************************/

.popupbox {
    position: fixed;
    background-color: rgba(250, 242, 242, 0.5);
    left: 0;
    right: 0;
    z-index: 4;
    height: 100%;
}
.popupbox .popup {
    position: relative;
    width: 100%;
    height: 100%;
}
.popupbox .box {
    position: absolute;
    top: 40px;
    width: 84%;
    left: 8%;
    height: 80%;
}
.popupbox .popup .box .coverimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popupbox .popup .close {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 30px;
}
.popupbox .popup .popup-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
}
